<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="left">
            <div class="dropdown-wrapper">
                <button class="dropdown-button">
                    <img src="<%= require('./images/menu.svg') %>" width=24 height=24 alt="menu icon">
                </button>
                <div class="dropdown-content">
                    <a href="">Menu item 1</a>
                    <a href="">Menu item 2</a>
                    <a href="">Menu item 3</a>
                </div>
            </div>
            <div class="dropdown-wrapper">
                <button class="dropdown-button">Dropdown</button>
                <div class="dropdown-content">
                    <a href="">Menu item 1</a>
                    <a href="">Menu item 2</a>
                    <a href="">Menu item 3</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="dropdown-wrapper">
                <button class="dropdown-button">
                    <img src="<%= require('./images/dots.svg') %>" width=24 height=24 alt="three dots icon">
                </button>
                <div class="dropdown-content right-align">
                    <a href="">Menu item 1</a>
                    <a href="">Menu item 2</a>
                    <a href="">Menu item 3</a>
                </div>
            </div>
        </div>
    </header>
    <div id="content">
        <!-- <div class="carousel-wrapper">
            <div class="carousel-window">
                <div class="carousel-strip">
                    <div class="carousel-slide">
                        <img src="https://picsum.photos/300/200?random=1" width="300" height="200">
                    </div>
                    <div class="carousel-slide">
                        <img src="https://picsum.photos/300/200?random=2" width="300" height="200" alt="">
                    </div>
                    <div class="carousel-slide">
                        <img src="https://picsum.photos/300/200?random=3" width="300" height="200" alt="">
                    </div>
                    <div class="carousel-slide">
                        <img src="https://picsum.photos/300/200?random=4" width="300" height="200" alt="">
                    </div>
                    <div class="carousel-slide">
                        <img src="https://picsum.photos/300/200?random=5" width="300" height="200" alt="">
                    </div>
                </div>
            </div>
            <button class="carousel-prev">
                <img src="<%= require('./images/prev.svg') %>" width="20" alt="previous icon">
            </button>
            <button class="carousel-next">
                <img src="<%= require('./images/next.svg') %>" width="20" alt="previous icon">
            </button>
                <div class="carousel-dots">
                <button class="carousel-dot" data-slide="0"></button>
                <button class="carousel-dot" data-slide="1"></button>
                <button class="carousel-dot" data-slide="2"></button>
                <button class="carousel-dot" data-slide="3"></button>
                <button class="carousel-dot" data-slide="4"></button>
            </div>
        </div> -->
    </div>
</body>
</html>