<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #171717;
        }
        h2 {
            margin-top: 2rem;
        }
        .carousel-wrapper {
            margin: 1rem auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="left">
            <div class="dropdown-wrapper">
                <button class="dropdown-button">
                    <img src="<%= require('./images/menu.svg') %>" width=24 height=24 alt="menu icon">
                </button>
                <div class="dropdown-content">
                    <a href="">Menu item 1</a>
                    <a href="">Menu item 2</a>
                    <a href="">Menu item 3</a>
                </div>
            </div>
            <div class="dropdown-wrapper">
                <button class="dropdown-button">Dropdown</button>
                <div class="dropdown-content">
                    <a href="">Menu item 1</a>
                    <a href="">Menu item 2</a>
                    <a href="">Menu item 3</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="dropdown-wrapper">
                <button class="dropdown-button">
                    <img src="<%= require('./images/dots.svg') %>" width=24 height=24 alt="three dots icon">
                </button>
                <div class="dropdown-content right-align">
                    <a href="">Menu item 1</a>
                    <a href="">Menu item 2</a>
                    <a href="">Menu item 3</a>
                </div>
            </div>
        </div>
    </header>
    <div id="content">
    </div>
</body>
</html>