/* For menu positioning in sample*/
header {
    display: flex;
    justify-content: space-between;
}

header .left,
header .right {
    display: flex;
    align-items: stretch;
}

/* Minimum style for dropdown menu */
/* Modify color, size, etc as needed */
.dropdown-wrapper {
    position: relative;
}

.dropdown-button {
    height: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: initial;
    font-weight: bold;
}

.dropdown-button img {
    height: 1em;
    width: 1em;
}

.dropdown-content {
    position: absolute;
    min-width: min(160px, 100vw);
    border: 1px solid #ebebeb;
}

.dropdown-content.right-align {
    right: 0;
}

.dropdown-content>* {
    display: block;
    padding: 0.5rem 1rem;
}

.dropdown-content a {
    text-decoration: none;
    color: initial;
}

.dropdown-content>*:hover{
    background-color: #7dd3fc;
}

/* Minimum style for carousel */
.carousel-wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-wrapper {
    --width: 300px;
    --height: 200px;
    --window-width: 350px;
    --dot-size: 16px;
    --gap: 10px;
    --iconColor: gray;

    --count: 0;
    --start: calc((var(--window-width) - var(--width)) / 2);
    --diff: calc((var(--width) + var(--gap)) * var(--count));

    width: calc(var(--window-width) + 40px + var(--gap) * 2);
    display: grid;
    grid-template-columns: 20px var(--window-width) 20px;
    grid-template-rows: var(--height) 20px;
    grid-template-areas: "prev window next" "dots dots dots";
    gap: var(--gap);
}

.carousel-window {
    grid-area: window;
    position: relative;
    width: var(--window-width);
    height: var(--height);
    overflow: hidden;
}

.carousel-strip {
    position: absolute;
    left: calc(var(--start) - (var(--diff) * var(--count)));
    display: flex;
    gap: var(--gap);
}

.carousel-slide {
    background-color: black;
    overflow: hidden;
    width: var(--width);
    height: var(--height);
}

.carousel-prev, .carousel-next {
    width: 20px;
    border: none;
    background-color: transparent;
}

.carousel-prev:disabled svg, .carousel-next:disabled svg {
    visibility: hidden;
}

.carousel-prev{
    grid-area: prev;
    width: 20px;
}

.carousel-next {
    grid-area: next;
    width: 20px;
}

.carousel-dots {
    grid-area: dots;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-dot {
    width: var(--dot-size);
    height: var(--dot-size);
    border: none;
    border-radius: 50%;
    background-color: var(--iconColor);
}

.carousel-dot.selected {
    transform: scale(1.5);
}