header {
    display: flex;
    justify-content: space-between;
}

header .left,
header .right {
    display: flex;
    align-items: stretch;
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-button {
    height: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: initial;
    font-weight: bold;
}

.dropdown-button img {
    height: 1em;
    width: 1em;
}

.dropdown-content {
    position: absolute;
    min-width: min(160px, 100vw);
    border: 1px solid #ebebeb;
}

.dropdown-content.right-align {
    right: 0;
}

.dropdown-content>* {
    display: block;
    padding: 0.5rem 1rem;
}

.dropdown-content a {
    text-decoration: none;
    color: initial;
}

.dropdown-content>*:hover{
    background-color: #7dd3fc;
}