/* For menu positioning in sample*/
header {
    display: flex;
    justify-content: space-between;
}

header .left,
header .right {
    display: flex;
    align-items: stretch;
}

/* Minimum style for dropdown menu */
/* Modify color, size, etc as needed */
.dropdown-wrapper {
    position: relative;
}

.dropdown-button {
    height: 100%;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: initial;
    font-weight: bold;
}

.dropdown-button img {
    height: 1em;
    width: 1em;
}

.dropdown-content {
    position: absolute;
    min-width: min(160px, 100vw);
    border: 1px solid #ebebeb;
    background: white;
    z-index: calc(infinity);
}

.dropdown-content.right-align {
    right: 0;
}

.dropdown-content>* {
    display: block;
    padding: 0.5rem 1rem;
}

.dropdown-content a {
    text-decoration: none;
    color: initial;
}

.dropdown-content>*:hover{
    background-color: #7dd3fc;
}

/* Minimum style for carousel */
.carousel-wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-wrapper {
    --width: 300px;
    --height: 200px;
    --window-width: 350px;
    --prev-width: 20px;
    --next-width: 20px;
    --dot-size: 16px;
    --icon-color: #d4d4d4;
    --selected-color: #525252;
    --slide-color: transparent;
    --gap: 10px;

    --count: 0;
    --start: 50px;
    --diff: -310px;
    --start: calc((var(--window-width) - var(--width)) / 2);
    --diff: calc(-1 * (var(--width) + var(--gap)));

    width: calc(var(--window-width) + var(--prev-width)  + var(--next-width) + var(--gap) * 2);
    display: grid;
    grid-template-columns: var(--prev-width) var(--window-width) var(--next-width);
    grid-template-rows: var(--height) var(--dot-size);
    grid-template-areas: "prev window next" "dots dots dots";
    gap: var(--gap);
}

.carousel-window {
    grid-area: window;
    position: relative;
    width: var(--window-width);
    height: var(--height);
    overflow: hidden;
}

.carousel-strip {
    position: absolute;
    left: calc(var(--start) + (var(--diff) * var(--count)));
    display: flex;
    gap: var(--gap);
}

.carousel-slide {
    background-color: var(--slide-color);
    overflow: hidden;
    width: var(--width);
    height: var(--height);
}

.carousel-slide>img{
    width: var(--width);
    height: var(--height);
    object-fit: contain;
}

.carousel-prev, .carousel-next {
    border: none;
    background-color: transparent;
}

.carousel-prev:disabled, .carousel-next:disabled {
    visibility: hidden;
}

.carousel-prev{
    grid-area: prev;
    width: var(--prev-width);
}

.carousel-next {
    grid-area: next;
    width: var(--next-width);
}

.carousel-dots {
    grid-area: dots;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-dot {
    width: var(--dot-size);
    height: var(--dot-size);
    border: none;
    background-color: transparent;
}

.carousel-dot.selected svg {
    fill: var(--selected-color);
}